.nx-fieldtext {
    display: inline-block;
}

table.nx-skootable-data th {
    background: none;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-top: none;
    font-size: 10.5px;
    font-weight: 600;
}

table.nx-skootable-data tbody tr td:first-child, table.nx-skootable-data thead tr td:first-child, table.nx-skootable-data thead tr th:first-child {
    border-left: none;
}

table.nx-skootable-data>tbody>tr>td, table.nx-skootable-data thead td, table.nx-skootable-data tbody td, table.nx-skootable-data thead td {
    background: none;
    border-right: none;
}

.ui-tabs .ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs .ui-tabs-nav li:focus, .ui-tabs .ui-tabs .ui-tabs-nav li a:focus, .ui-tabs .ui-tabs .ui-tabs-nav li a div {
    cursor: pointer;
    outline: none;
}

.ui-tabs .ui-tabs .ui-tabs-nav li a {
    font-size: 11px;
}

a {
    cursor: pointer !important;
}

.ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover a {
    color: #0288D1 !important;
}

.ui-tabs .ui-tabs .ui-tabs-nav li {
    opacity: 0.7;
}

.ui-tabs .ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs .ui-tabs-nav li:hover {
    color: #0288D1;
    cursor: pointer;
    margin: 3px 4px;
    padding: 3px 10px 4px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-tabs .ui-tabs .ui-tabs-nav li:hover {
    opacity: 1;
}

.ui-tabs .ui-tabs .ui-tabs-nav {
    margin-top: 15px;
    padding-bottom: 10px;
}

.nx-page, #skuidEditBtnContainer, .ui-dialog, .blockMsg, .ui-multiselect-menu {
    font-size: 13px;
}

td {
    color: #666 !important;
}

[data-field="NewField"] {
    max-width: 65px;
}

[data-tab="reviewM0"], [data-tab="reviewM1"], [data-tab="reviewCO"], [data-tab="reviewPaymentStage"] {
    margin-left: 25px !important;
}

#sk-3YGJ-2483 td a {
    color: #E78E24 !important;
}

.ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover {
    background: #E7F6FF;
    opacity: 1;
}

.ui-tabs .ui-tabs .ui-tabs-nav li.ui-state-hover a {
	font-weight: 400;
	font-size: 11px;
}

.nx-lefttabs>.ui-tabs-panel {
    margin-left: 0 !important;
}

/* New header */



#sk-1-GgYf-612 .progress-chunk {
    display: none;
}

#sk-1-GgYf-612 .progress-chunk.current .progress-triangle {
    display: none;
}

.progress-indicator .progress-chunk.current .progress-triangle-outline {
    display: none;
}

.progress-indicator {
    margin: 20px auto 0 auto;
    width: 250px;
    padding-right: 0;
}

.progress-indicator .progress-chunk .progress-text .text-content {
    display: inline-block;
    line-height: 1.6;
}

.progress-indicator .progress-chunk .progress-text {
    font-size: 20px;
    margin-right: 0px;
    margin-left: 0;
    line-height: normal;
    padding: 10px 10px;
    text-align: center;
}

.progress-indicator .progress-chunk.current .progress-text {
    color: #CDA61D;
    font-weight: 600;
}

.nx-pagetitle-subtitle {
    display: none;
}

.nx-pagetitle-maintitle {
    display: block;
    text-align: center;
    width: 100%;
}

#sk-1mSS19-74 .nx-header-right {
	float: none;
	margin: 0 auto;
	text-align: center;
}

#sk-1-GgYf-612 .progress-chunk.current {
border-radius: 5px;
	display: table-cell;
}

#sk-1-GgYf-612 .progress-indicator table tr .progress-chunk.current {
    background: #FFF8BC !important;
    background-color: #FFF8BC !important;
}

#sk-2p2u-2430 .nx-pagetitle-maintitle {
    margin: 10px auto 20px auto;
}

td {
    color: #000 !important;
}
.account-name, .account-address, .account-installer {
    font-family: 'Open Sans', sans-serif;
}

.account-name {
    font-size: 36px;
    font-weight: 600;
}

.account-address {
    display: block;
    margin: 10px auto -30px auto;
}

.account-address, .account-installer {
    font-size: 16px;
    font-weight: 400;
}

.installer-blue {
    color: blue;
}

.installer-orange {
    color: orange;
}
.container {
  height:100% !important;
  width:100% !important;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

label.switch {  
  text-align: left;
  width: 40px;
  height: calc(40px / 2);
  border-radius:60px;    
  background-color:#1dcd84;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

label.switch > span {
  display: block;
  width: 100%;
  height: 100%;
}

label.switch > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
} 

label.switch > span:before, label.switch > span:after {
  content: "";
  cursor: pointer;
  position: absolute;
}

label.switch > input[type="checkbox"]:focus ~ span {
 
}

label.switch > input[type="checkbox"]:checked:focus ~ span {
  box-shadow: 0 0 0 4px #fff;
}

label.switch > span {
  border-radius: 60px;    
}

label.switch > span:before {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #CDA61D;
  border-radius: 60px;
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}

label.switch > span:after{
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
  width: calc(40px / 2);
  height: calc(40px / 2);
  transform: translate3d(0, -50%, 0);
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);  
}

label.switch > input[type="checkbox"]:checked ~ span:before {
  transform: scale(0);
  opacity: .7;
}

label.switch > input[type="checkbox"]:checked ~ span:after {
  transform: translate3d(100%, -50%, 0);
}
