<!-- libsD3.html -->
<template>
    <lightning-card title="LibsD3" icon-name="custom:custom19">
        <div class="slds-m-around_medium">
            <svg 
                class="d3"
                width={svgWidth}
                height={svgHeight}
                lwc:dom="manual" 
                ></svg>
        </div>
    </lightning-card>
</template>