.THIS .limitVert{
    overflow: auto;
}
.THIS .slds-form-element__label {
	font-weight: bold !important;
}
.THIS .boldtext {
   font-weight: bold; 
   align:center;
}
.THIS .colorRed{
    color:red;
    font-size:18px;
}