.THIS .selected{
    color:orange;
}

.THIS .ColorBlue,
.THIS .ColorBlue:active,
.THIS .ColorBlue:hover {
    background-color: rgb(0, 112, 210);
}

.THIS.ColorOrange{
    background-color: rgb(255, 165, 0) !important;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS.slds-header {  
  color:#0288d1;
}