.lefty .nx-header-right {
    float: left;
}

.actioncolumn:before {
   content: "Review";
}
li[data-tab="m0queuetab"] {
    background-color:green;
}
table.nx-skootable-data>tbody>tr>td, 
table.nx-skootable-data thead td,
table.nx-skootable-data tbody td,
table.nx-skootable-data thead td {
    background: none;
    border-right: none;
}

table.nx-skootable-data th {
    background: none;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-top: none;
    font-size: 10.5px;
    font-weight: 600;
}

table.nx-skootable-data tbody tr td:first-child, 
table.nx-skootable-data thead tr td:first-child,
table.nx-skootable-data thead tr th:first-child {
    border-left: none;
}

.nx-page, 
#skuidEditBtnContainer, 
.ui-dialog, 
.blockMsg, 
.ui-multiselect-menu {
    font-size: 13px;
}

td {
    color: #666;
}

.ui-tabs .ui-tabs-nav li {
background: #FFF;
}

.ui-tabs .ui-tabs-nav li a { 
    color: #0288D1;
    opacity: 0.7
}

.ui-tabs .ui-tabs-nav li a div { 
    cursor: pointer;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover a {
    color: #0288D1;
    cursor: pointer;
    opacity: 1;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover {
	background: #E7F6FF;
}

.nx-lefttabs>.ui-tabs-nav li {
    border-right: none;
}

.ui-state-hover {
    background: blue;
}



.ui-tabs .ui-tabs-nav li.ui-state-hover {
    background: transparent;
    border: none;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover a {
    border: none;
    color: #0288D1;
    opacity: 1;
}

.nx-lefttabs>.ui-tabs-nav {
    margin-top: 18px;
}

#skuid-component-tab-sk-JxGPg-68-3 .nx-header-left {
    flex: 0 auto;
}

#sk-eMp-554 .nx-editor-header, #sk-f16-666 .nx-editor-header {
    display: block !important;
}

#sk-eMp-554 .nx-header-right, #sk-f16-666 .nx-header-right {
    float: left;
}

.nx-list-footer {
    margin-top: 10px;
}

.ui-tabs-panel {
    margin-left: 0 !important;
}
