<apex:page showHeader="true" sidebar="true" standardStylesheets="false" applyBodyTag="false" docType="html-5.0">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Funding Snapshot</title>
        <apex:includeLightning />
    </head>
    <body>
        <div id="lightningContainer"> </div>
        <script>
            $Lightning.use("c:FundingSnapShotApp", function() {
                $Lightning.createComponent("c:FundingSnapSupportCmp", { "accrecordId" : '{!$CurrentPage.parameters.accrecordId}',"accountName":'{!$CurrentPage.parameters.accountName}' },
                    "lightningContainer",
                    function(cmp) {
                    });
            });
        </script>
        <!--  Standard Navigation doent work , Please refer link https://salesforce.stackexchange.com/questions/147822/forcenavigatetosobject-not-working-when-called-from-a-vf-page-including-a-ltng/148441#148441 -->
        <div style="text-align: right">
        	<a style="align:right;font-weight:bold;color:rgb(0, 112, 210);" href="javascript:void(0);" onclick="ns.doNav()"> Return to Facility Account </a>
        </div>
          <span style="display: none">
            <a id="stdNav" href="">Navigate</a>
          </span>
          <script>
              (function(ns, undefined) {
                  ns.location = '/{!$CurrentPage.parameters.accrecordId}';
                  ns.doNav = function() {
                     var anchorEl = document.getElementById('stdNav');
                     anchorEl.href = ns.location;
                     anchorEl.click();
                  }
              })(window.ns = window.ns || {});
          </script>
    </body> 
</apex:page>